<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwz-NrYsGHUtq2Y8BTF0bvKKpO1E_c0no</string>
	<key>GCM_SENDER_ID</key>
	<string>924368416863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>empresa.CondoriPintoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-38292</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-38292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924368416863:ios:8db58f107704b6d4e9ebea</string>
</dict>
</plist>